.main-container{
    width: 80%;
    padding: 16px;
    margin: auto;
}

table{
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #006442;
}

td{
    padding: 0;
    height: 25px;
    width: 25px;
    text-align: center;
}

/* Visible cells: */
td {
    background-color: #303030;
}

.text {
    color: #ffd500;
}

/* Hidden cells: */
td.hidden-cell{
    background-color: #f5f5f5;
}

tr:nth-child(odd) td:nth-child(even).hidden-cell, tr:nth-child(even) td:nth-child(odd).hidden-cell{
    background-color: #e1e1e1;
}

.hidden-text{
    visibility: hidden;
}

/* Visual effects: */
.hover{
    margin: 0 auto;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: transparent;
}

.hover:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
