header, footer{
    margin: auto;
    display: block;
    width: 98.5%;
    height: 40px;
    background-color: whitesmoke;
    color: #303030;;
    font-size: 32px;
    padding: 8px;
    border: 1px solid #303030;
}

footer{
    position: absolute;
    text-align: center;
    font-size: 18px;
    height: 25px;
    bottom: 1px;
}

li{
    display: inline;
    margin: 0 8px;
}

li:hover{
    color: darkgray;
}

.inner-header{
    display: block;
    width: 80%;
    margin: auto;
}


.logo-container{
    float: left;
    text-align: center;
}

.icon-bar{
    float: right;
}