header, footer{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #1dc21d;
    color: black;
    font-size: 32px;
    padding: 8px;
    border: 1px solid #106a10;
}

li{
    display: inline;
    margin: 0 8px;
}

li:hover{
    color: #106a10;
}

.inner-header{
    display: block;
    width: 80%;
    margin: auto;
}


.logo-container{
    float: left;
    text-align: center;
}

.icon-bar{
    float: right;
}